---
layout: default
title: Posts
---

<div class="grid">

  {% for post in site.posts %}
  
    <article role="article"
    {% if project.link %}
      onclick="location.href='{{ post.link }}';"
      {% else %}
      onclick="location.href='{{ site.baseurl }}{{ post.url }}';"
      {% endif %}
      class="card"
      style="background-image: url({{site.baseurl}}{{post.image}});"
    >
	    <div class="meta">
      <h2><a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a></h2>
      <p>{{ post.summary }}</p>
        <time class="date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time> 
	    </div>
  
    </article>
    
  {% endfor %}
  
   </div>

